<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <div id="app">
            <div id="map" class="map"></div>

            <div id="popup">
                <span class="location-wrapper"><span class="location"></span></span>
                <span class="measurements-wrapper"><span class="measurements"></span> metingen</span>
                <span class="observed-wrapper"><span class="num-observed"></span> soorten</span>
                <span class="species-wrapper"><span class="num-overlap"></span>/<span class="num-selected"></span> match</span>
            </div>

            <div id="filters">
                <div id="filter-species">
                    <input type="text"
                           v-model="filterQuery"
                           @keyup="filterSpecies"
                           placeholder="Filter species..." />

                    <ul>
                        <li v-for="s in species">
                            <input type="checkbox" :value="s.id" @change="getSpeciesLocations" />
                            <span class="name" :index="s.name | lowercase">{{ s.name }}</span>
                            <span class="num-locations">({{ s.num_locations }})</span>
                        </li>
                    </ul>
                </div>

                <div id="filter-margin">
                    <label for="margin">Margin:</label>
                    <select name="margin" id="margin" @change="getSpeciesLocations">
                        <option v-for="t in thresholds" :value="t">{{ t }}</option>
                    </select>
                </div>
            </div>
        </div>

        <script src="src/index.js"></script>
  </body>
</html>