.map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.marker {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    .pie {
        display: inline-block;
        transition: all 1s;
        position: absolute;
        background-color: #fff;
        opacity: 0.4;
        height: 100%;
        width: 100%;
    }
}

#popup {
    width: 320px;
    background-color: #fff;
    color: #000;
    position: relative;
    padding: 16px 8px;
    border: 1px solid #000;

    &:before {
        display: block;
        content: "";
        transform: rotate(45deg);
        width: 16px;
        height: 16px;
        background-color: inherit;
        position: absolute;
        top: -9px;
        left: 50%;
        border-top: inherit;
        border-left: inherit;
        margin-left: -8px;
    }

    .location-wrapper {
        display: block;
        margin-bottom: 16px;
    }

    .measurements-wrapper, .species-wrapper, .observed-wrapper {
        display: block;
    }
}

#filters {
    #filter-species {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #fff;
        width: 360px;
        overflow-y: scroll;

        input[type=text] {
            display: block;
            width: 100%;
            padding: 8px 8px;
            border: none;
            background-image: none;
            background-color: #fff;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-bottom: 1px solid #ccc;

            &:focus, &:active {
                outline: none;
            }
        }

        ul {
            display: block;

            li {
                display: block;
                padding: 4px 0;
            }
        }
    }

    #filter-margin {
        top: 0;
        right: 0;
        width: 160px;
        height: 64px;
        padding: 16px;
        position: absolute;
        background-color: #fff;
    }
}

